body{

text-align:center;

margin-top:150px;

font-family:Arial;

}

h1{

font-size:70px;

}

input{

width:450px;

height:40px;

font-size:18px;

padding:10px;

}

button{

margin-top:20px;

width:150px;

height:45px;

font-size:18px;

cursor:pointer;

}
